@font-face {
  font-family: 'RobotoThin';
  src: url('Fonts/Roboto-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoMedium';
  src: url('Fonts/Roboto-Medium.ttf') format('truetype');
  
}

@font-face {
  font-family: 'RobotoBold';
  src: url('Fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoRegular';
  src: url('Fonts/Roboto-Regular.ttf') format('truetype');
}

body {
  font-family:'RobotoRegular';
}